<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,td{
  text-align: center;
   }
    </style>
</head>
<body>
{{win}} vs {{loss}}<br>
winner==>> {{win}}
<h1 style="text-align: center; color: red;">POINTS TABLE</h1>
<table>
    <tr>
    <th>TEAM</th><th>PLAYED</th>
    <th>WON</th>
    <th>LOST</th>
    <th>POINTS</th>
    </tr>
    <tr>
        <td>{{teams.0}}</td>
        <td>{{team.0.played}}</td>
        <td>{{team.0.won}}</td>
        <td>{{team.0.lost}}</td>
        <td>{{team.0.points}}</td>
    </tr>
</table>

</body>
</html>
<a href="/teams/">back</a>
